.canvas-grid-layer {
  position: absolute;
  left: 50px;
  top: 100px;
  z-index: 0;
}

.canvas-bottom-layer {
  position: absolute;
  left: 50px;
  top: 100px;
  z-index: 1;
}

.canvas-top-layer {
  position: absolute;
  left: 50px;
  top: 100px;
  z-index: 2;
  border: 1px solid black;
}

.canvas-top-layer:hover {
  cursor: pointer;
}
